


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Reciper</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <script src="static/index.js"></script>
</head>

<body>
  <div class="top-bar">
    <h1><a id="logout" href="/home">Reciper</a></h1>
    <a id="logout" href="/logout">Logout</a>
  </div>
  <div class="container">
    <div id="contentbox">
      <h2>New Recipe</h2>
      <form style="margin-top: 6px;" method="POST">
      <div class="form">
        <label for="recipename">Recipe Name</label>
        <input type="text" name="recipe_name" id="recipe_name" required>
      </div>
      <div class="form">
        <label for="description">Description</label>
        <textarea name="data" id="data" rows="10" cols="30"></textarea>
        <div class="form">
          <label for="favourite">Add Favourite</label>
          <input type="checkbox" name="favourites" value="Favourites">  
        </div>
      </div><div class="topspace">
          <button type="submit">Save Recipe</button>
        </div>
      </form>
    </div>
  </div>


<div class="container">
  <div id="contentbox">
<ul class="list-group list-group-flush" id="Recipe">
  {% for recipe in user.recipes %}
  <li class="list-group-item">
    {{ recipe.recipe_name }} </br> {{ recipe.data }} </br> Is favourite: {{ recipe.favourites }}</br>
    <button type="button" class="close" onClick="deleteRecipe({{ recipe.id }})">
      <span aria-hidden="true">Delete</span>
    </button>
  </li>
  {% endfor %}
</ul>
</div></div>
</body>

</html>